# Preinstall requirements from TTS
# python -m venv xtts_env
# .\xtts_env\Scripts\activate
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
# pip install py-cpuinfo
TTS @ git+https://github.com/coqui-ai/TTS@v0.21.1
pydantic==1.10.13
python-multipart==0.0.6
typing-extensions>=4.8.0
cutlet
mecab-python3==1.0.6
unidic-lite==1.0.8
unidic==1.1.0
langid
# deepspeed disable for windows
pydub
gradio
